<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<jmsSenderFactory>
	<destination name="MyQueueName">
		<factory>java:/JmsXA</factory>
		<user>MyQueueUser</user>
		<pass>MyQueuePass</pass>
	</destination>
	<mapJmsPayloadHandler>
		<mapping methodName="event">
			<mapField from="s1">A</mapField>
			<mapField from="s2">B</mapField>
		</mapping>
	</mapJmsPayloadHandler>
</jmsSenderFactory>
