<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<jmsSenderFactory api="net.java.messageapi.test.TestApi">
    <destination name="MyQueueName">
	    <factory>java:/JmsXA</factory>
	    <user>MyQueueUser</user>
	    <pass>MyQueuePass</pass>
        <transacted>true</transacted>
    </destination>
    <xmlJmsPayloadHandler/>
</jmsSenderFactory>
