<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>ChatSend</servlet-name>
		<servlet-class>net.java.dev.messageapi.chat.ChatSend</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatSend</servlet-name>
		<url-pattern>/chat-send</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>chat-send</welcome-file>
	</welcome-file-list>
</web-app>