<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<jmsSenderFactory api="net.java.messageapi.test.TestApi">
    <destination name="Chat">
	    <factory>ConnectionFactory</factory>
	    <user>guest</user>
	    <pass>guest</pass>
    </destination>
    <xmlJmsPayloadHandler/>
</jmsSenderFactory>
