<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<registry>
    <sender api="net.java.messageapi.adapter.MessageSenderRegistryTest$TestApi">
        <config>
            <factoryName>java:/JmsXA</factoryName>
            <queueName>queue/ResenderQueue</queueName>
            <user>admin</user>
            <pass>admin</pass>
        </config>
    </sender>
</registry>
